@using System.Web.UI.WebControls
@model  CSVOrder.Models.Service.ListPostsViewModel
@{
    ViewBag.Title = "Состояние постов";
}


<h2>@ViewBag.Title</h2>
@section scripts{
    
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.keyTable.min.js"></script>

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
        var table = $('#example').dataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
            "scrollX": true,
            "scrollCollapse": true,
        });
        var keys = new $.fn.dataTable.KeyTable(table);
        keys.event.focus(null, null, function (node, x, y) {
            if (!node.classList.contains("active")) return;
            if (node.classList.contains("success"))
                $.ajax({
                    url: "/ModuleOrder/OrderSelect",
                    data: {
                        indx: node.attributes["data-orderid"].value,
                        returnUrl: "@Request.Url.PathAndQuery"
                        },
                        success: function (returndata) {
                            //document.innerHTML = returndata;
                        }

                    });
                else
                    $.ajax({
                        url: "/ModuleOrder/OrderSelect",
                        data: {
                            indx: node.attributes["data-postid"].value,
                            time: node.attributes["data-time"].value,
                            returnUrl: "@Request.Url.PathAndQuery"
                        },
                        success: function (returndata) {
                            //document.innerHTML = returndata;
                        }

                    });
            });
        });
    </script>
}
@*<link href="~/Content/themes/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet"/>

<div class="center-block text-center">
    <a href='@Url.Action("LeftDate", "ModuleOrder", new { dt = Model.Date.ToShortDateString() })'>
        <img src="~/Content/Service/images/left.png" class="img-circle" style="width: 24px" />
    </a>

    <strong>@Model.Date.ToShortDateString()</strong>
    <a href='@Url.Action("RightDate", "ModuleOrder", new { dt = Model.Date.ToShortDateString() })'>
        <img src="~/Content/Service/images/right.png" class="img-circle" style="width: 24px" />
    </a>
</div>
<table id="example" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Название поста</th>
            @foreach (var el in Model.Columns)
            {
                <th>@el.ToShortTimeString()</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ListPosts)
        {
            var id = item.Id;
            <tr>
                <th>@item.Name</th>
                @foreach (var el in Model.Columns)
                {
                    var stile = "active";
                    var tool = "";

                    {
                        if (Model.Date + item.TimeFrom > el || Model.Date + item.TimeTo < el)
                        {
                            stile = "";
                        }
                        var orderid = 0;
                        var order = Model.ListOrders.FirstOrDefault(o => o.PostId == id &&
                                                                o.DateWork >= el && o.DateWork < el.Add(new TimeSpan(0, 30, 0)));
                        if (order != null)
                        {
                            
                            orderid = order.OrderNumer;
                            tool = string.Format("{0} ({1})", order.User.Nm, order.Car.Number);
                            stile = "active success";
                        }
                        <td data-postid="@item.Id" data-time="@el" class="@stile" data-orderid="@orderid" title="@tool"></td>
                    }
                }
            </tr>
        }

    </tbody>
</table>
