@model CSVOrder.Models.Service.CarOrderPostModel
@section head
{
    @Styles.Render("~/Content/datepicker")



}
<h2>@ViewBag.Title</h2>
@section scripts{
    @Scripts.Render("~/bundles/datepicker")
    <script language="javascript" type="text/javascript">

        $('.datepicker').datepicker({
            format: "dd.mm.yyyy",
            language: "ru",
            orientation: "top left",
            todayHighlight: true
        });
    </script>

}
@using (Html.BeginForm("EditOrder", "ModuleOrder",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                @foreach (var property in ViewData.ModelMetadata.Properties.OrderBy(p => p.Order))
                {
                    switch (property.PropertyName)
                    {
                        case "CarNumber":
                            @Html.Action("GetCarModel", "ModuleStore", new {property.Model});
                            break;
                        case "Cost":
                        case "UserComment":
                            break;
                        case "DtCreate":
                        case "DateWork":
                            <div class="form-group">
                                @property.DisplayName: <strong>@(((DateTime)property.Model).ToString("dd.mm.yyyy HH:mm"))</strong>
                            </div>
                            break;
                            <div class="form-group">
                                @property.DisplayName: @Html.TextBox(property.PropertyName, property.Model, new { @class = "datepicker " })
                                @Html.ValidationMessage(property.PropertyName)
                            </div>
                            break;
                        case "User":
                        @Html.Partial("UserView", property.Model)
                            break;
                        default:
                        @Html.Hidden(property.PropertyName, property.Model)
                            break;
                    }
                }
            </div>
            <div class="col-md-8">
                @Html.Partial("WorksView", Model.SelectedWorks)
                @{
                var prop = ViewData.ModelMetadata.Properties.FirstOrDefault(o => o.PropertyName.Equals("Cost"));
                if (prop != null)
                {
                    <div class="form-group">
                        @prop.DisplayName: <strong id="costSum">@prop.Model</strong>
                    </div>
                }
                prop = ViewData.ModelMetadata.Properties.FirstOrDefault(o => o.PropertyName.Equals("UserComment"));
                if (prop != null)
                {
                        <div class="form-group">
                            <strong>@prop.DisplayName: </strong>@Html.TextArea(prop.PropertyName, (prop.Model ?? "").ToString(), new { @class = "form-control", rows = 5 })
                        </div>
                    }
                }
            </div>
        </div>
        

        @*<input type="text" class="form-control" id="datepicker" value="@Model.DateWork.ToString("dd.mm.yyyy")">*@
    </div>
}

