@using CSVOrder.Models.Service
@model CSVOrder.Models.Service.CarOrderPostModel
@section head
{
    @Styles.Render("~/Content/datepicker")



}
<h2>@ViewBag.Title</h2>
@section scripts{
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/globalize")
    <script>
        $(document).ready(function () {
            Globalize.culture("ru-RU");
        });
    </script>*@
    <script language="javascript" type="text/javascript">
        $('.datepicker').datepicker({
            format: "dd.mm.yyyy",
            language: "ru",
            orientation: "top left",
            todayHighlight: true
        });
    </script>

}
@using (Html.BeginForm("EditOrder", "ModuleOrder", FormMethod.Post))
{
    @Html.ValidationSummary();
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                @foreach (var property in ViewData.ModelMetadata.Properties.OrderBy(p => p.Order))
                {

                    switch (property.PropertyName)
                    {
                        case "Car":
                            <div class="form-group">
                                @Html.Partial("AddCarView", Model.Car, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Car" } })
                            </div>
                            @*@Html.Action("GetCarModel", "ModuleStore", new { carNumber = property.Model })*@
                            break;
                        case "Cost":
                        case "UserComment":
                        case "SelectedWorks":
                            break;
                        case "DtCreate":
                        <div class="form-group">
                            @*<span>@(property.DisplayName ?? property.PropertyName):</span>*@
                            @Html.LabelFor(x => x.DtCreate):
                            @Html.TextBox("DtCreate", Model.DtCreate.ToString("G"), new { @readonly = "true", @class = "form-control" })
                        </div>
                            break;
                        case "DateWork":
                        <div class="form-group">
                            @Html.LabelFor(x => x.DateWork):
                            @*@Html.TextBoxFor(x => x.DateWork, new { @readonly = "true", @class = "form-control" })*@
                            @Html.TextBox("DateWork", Model.DateWork.ToString("G"), new { @readonly = "true", @class = "form-control" })
                        </div>
                            break;

                        case "User":
                        <div class="form-group">
                            @Html.Partial("UserView", Model.User, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "User" } })
                        </div>
                            break;
                        default:
                        @Html.Hidden(property.PropertyName, property.Model)
                            break;
                    }
                }
            </div>
            <div class="col-md-8">
                @Html.Partial("SelectedWorksView", Model.SelectedWorks)
                @{
                var prop = ViewData.ModelMetadata.Properties.FirstOrDefault(o => o.PropertyName.Equals("Cost"));
                if (prop != null)
                {
                    <div class="form-group">
                        @prop.DisplayName: <strong id="costSum">@prop.Model</strong>
                    </div>
                }
                prop = ViewData.ModelMetadata.Properties.FirstOrDefault(o => o.PropertyName.Equals("UserComment"));
                if (prop != null)
                {
                    <strong>@prop.DisplayName: </strong>
                    <div class="form-group">
                        @Html.TextArea(prop.PropertyName, (prop.Model ?? "").ToString(), new { @class = "form-control", rows = 5 })
                    </div>
                }
                }
            </div>
        </div>
        @*<input type="text" class="form-control" id="datepicker" value="@Model.DateWork.ToString("dd.mm.yyyy")">*@

    </div>
    <div class="panel-footer">
        <input class="btn btn-block" type="submit" value="Отправить" />
    </div>
}

