@model CSVOrder.Models.Service.CarOrderPostModel
@section head
{
    @Styles.Render("~/Content/datepicker")



}
<h2>@ViewBag.Title</h2>
@section scripts{
    @Scripts.Render("~/bundles/datepicker")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @*@Scripts.Render("~/bundles/globalize")
    <script>
        $(document).ready(function () {
            Globalize.culture("ru-RU");
        });
    </script>*@
    <script language="javascript" type="text/javascript">
        $('.datepicker').datepicker({
            format: "dd.mm.yyyy",
            language: "ru",
            orientation: "top left",
            todayHighlight: true
        });
        $(function() {
            $("form").submit(function(e) {
                $('#SelectedItems option').prop('selected', true);
            });
        });
    </script>

}
@using (Html.BeginForm("EditOrder", "ModuleOrder", FormMethod.Post))
{
    @Html.ValidationSummary();
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.DtCreate):
                    @Html.TextBox("DtCreate", Model.DtCreate.ToString(), new {@readonly = "true", @class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.DateWork):
                    @Html.TextBox("DateWork", Model.DateWork.ToString(), new {@readonly = "true", @class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Partial("UserView", Model.User, new ViewDataDictionary {TemplateInfo = new TemplateInfo {HtmlFieldPrefix = "User"}})
                </div>
                <div class="form-group">
                    @Html.Partial("AddCarView", Model.Car, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Car" } })
                </div>
                @foreach (var property in ViewData.ModelMetadata.Properties.OrderBy(p => p.Order))
                {

                    switch (property.PropertyName)
                    {
                        case "Car":
                        case "Cost":
                        case "UserComment":
                        case "SelectedWorks":
                        case "DtCreate":
                        case "DateWork":
                        case "User":
                        case "WorkItems":
                        case "SelectedItems":                                      
                            break;
                        default:
                            @Html.Hidden(property.PropertyName, property.Model)
                            break;
                    }
                }
            </div>
            <div class="col-md-8">
                @Html.Partial("SelectedWorksView", Model)
                <div class="form-group">
                    @Html.LabelFor(x => x.Cost):
                    @Html.TextBoxFor(x => x.Cost, new { @readonly = "true", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.UserComment):
                    @Html.TextAreaFor(x => x.UserComment, new { @class = "form-control", rows = 5 })
                </div>
            </div>
        </div>
        @*<input type="text" class="form-control" id="datepicker" value="@Model.DateWork.ToString("dd.mm.yyyy")">*@

    </div>
    <div class="panel-footer">
        <input class="btn btn-block" type="submit" value="Отправить" />
    </div>
}

